<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    GR1D UI
  </h1>
</div>
<div>
  <button class="gr1d-button" mat-flat-button color="primary">BUTTON</button>
  <button class="gr1d-button" mat-button color="primary">BUTTON</button>
  <button class="gr1d-button" mat-button color="primary" class="icon-button">
    BUTTON
    <i class="material-icons">chevron_right</i>
  </button>
  <button class="gr1d-button" mat-stroked-button color="primary">BUTTON</button>
</div>
