<!-- The content below is only a placeholder and can be replaced. -->
<div class="container">
  <h1>GR1D UI</h1>
  <h2>Buttons</h2>
  <div class="row">
    <div class="col">
      <button class="gr1d-button" mat-flat-button color="primary">BUTTON</button>
    </div>
    <div class="col">
      <button class="gr1d-button" mat-button color="primary">BUTTON</button>
    </div>
    <div class="col">
      <button class="gr1d-button" mat-button color="primary" class="icon-button">
        BUTTON <i class="material-icons">chevron_right</i>
      </button>
    </div>
    <div class="col">
      <button class="gr1d-button" mat-stroked-button color="primary">
        BUTTON
      </button>
    </div>
  </div>
</div>